body{
    background-image: url(../img/pozadina.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


form {
    display: block;
    margin-top: 50px;
    margin-left: 650px;
    height: 100px;
    width: 100px;
}


input[type=text], input[type=password], input[type=email] {
    
    width: 500px;
    height:50px;
    padding: 12px 20px;
    margin-top: 45px;
    margin-bottom: 45px;
    /* display: inline-block; */
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: transparent;
    color: yellow;
    font-size: larger;

}

button{
    width: 100%;
    position: center;
    border-radius: 9px;
    /* margin-left: 50px; */
    width: 300px;
    height: 30px;
    background-color: transparent;
    font-size: 20px;
    color: rgb(255, 210, 7);
    text-align: center;
    margin: 30px;

}

button:hover {
    opacity: 0.8;
    border: black;
    border-radius: 9px;
    background-color: transparent;
    font-size: larger;

}



.container{
    margin-left: -40px;
    background-color: transparent;
    border-radius: 7px;
    border-color: turquoise;
    position: relative;
    border:turquoise;
    width:fit-content;
    padding: 5px;
    
}

h2{
    font-size: 40px;
    margin-bottom: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(255, 210, 7);
}
h2:hover{
    font-size: 45px;
}

.login-form {
    position: absolute;
    text-align: center;
}


.username{
    /* margin-left: -20px; */
    position: relative;
    font-size: 30px;
    
   
} 

 .password{  
     margin-right: -50px; 
    position: relative;
    font-size: 10px;
}

input::placeholder{
    color: rgb(255, 210, 7);
    text-align: center;
    font-size: 20px;

}

